<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap-css@*" data-semver="4.0.0-alpha.4" rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" />
    <script data-require="jquery@1.10.1" data-semver="1.10.1" src="libs/jquery/dist/jquery.min.js"></script>
    <script data-require="angular.js@*" data-semver="1.5.8" src="libs/angular/angular.min.js"></script>
    <script src="script.js"></script>
    <script src="angular-paging.js"></script>
  </head>

  <body ng-app="app" ng-controller="paycontroller">
    <div class="container">
      <h3>Payments</h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
          <tr ng-repeat="user in paymentPagedList.Items()">
            <td ng-bind="user.name.first"></td>
            <td ng-bind="user.name.last"></td>
          </tr>
        </tbody>
      </table>
      
        <div class="col-md-12">
          <div data-pager data-page="paymentPagedList"></div>
          <div>
            <p>
                Showing <span ng-bind="paymentPagedList.PageLowerBoundary()"></span> -
              <span ng-bind="paymentPagedList.PageUpperBoundary()"></span>
                of <span ng-bind="paymentPagedList.Count()"></span>
            </p>
            
          </div>
          
        </div>
        <button class="btn btn-primary" ng-click="loadPayments()">Load</button>
        
        
      </div>
      
  </body>

</html>
